<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级信息管理</title>
    <link th:href="@{/asserts/css/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrapValidator.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/vue.resource.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/jquery.dataTables.js}"></script>
</head>
<body>
    <div class="col-md-12">
        <div th:replace="~{teacher/nav::topnav(activeUrl='classInfo')}" ></div>
        <div class="col-md-10 col-md-offset-1">
            <table class="table" id="classInfoTable">
                <caption class="text-center">班级信息管理</caption>
                <thead>
                <tr>
                    <th>班级id</th>
                    <th>班级名字</th>
                    <th>班级人数</th>
                    <th>班级备注</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each=" classInfo:${classInfos}">
                       <td th:text="${classInfo.id}"></td>
                        <td>[[${classInfo.className}]]</td>
                        <td>[[${classInfo.studentNumber}]]</td>
                        <td>[[${classInfo.classComment}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>