<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link th:href="@{/asserts/css/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrapValidator.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/vue.resource.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/jquery.dataTables.js}"></script>
</head>
<body>
<div id = "app">
<div class="col-md-12">
    <div th:replace="~{teacher/nav :: topnav(activeUrl='courseInfo')}"></div>
    <p style="color: red" class="text-center" th:text="${msg}" th:if="${!#strings.isEmpty(msg)}"></p>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group col-md-10">
            <form class="form-inline" th:action="@{/courses}">
                <div class="form-group">
                    <label>课程名</label>
                    <input name="courseName1" class="form-control"  id="courseName" type="text"
                           placeholder="请输入课程名..." />
                </div>
                <div class="form-group">
                    <label>任课教师</label>
                    <input name="teacherName" class="form-control"  id="teacherName" type="text"
                           placeholder="请输入教师名" />

                </div>
                <button class="btn  btn-primary"  type="submit" >查询</button>
            </form>
            </div>
            <div class="col-md-2">
            <button class="btn btn-primary"  onclick="addCourse()">添加课程信息</button>
            </div>
        </div>
        <table class="table">
            <caption class="text-center">课程信息管理</caption>

            <thead>
            <tr>
                <th>id</th>
                <th>课程名</th>
                <th>任课教师</th>
                <th>课程时长</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses.list}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.teacher.name}"></td>
                <td th:text="${course.courseTime}"></td>
                <td><button th:id="${course.id}"  class="btn btn-primary btn-sm "  onclick="updateCourseInfo(this)"     >课程信息修改</button> </td>
                <td><button class="btn btn-primary btn-sm " onclick="deleteCourse(this)"    >删除</button></td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-6">
            <ul class="pagination m-b-5 pull-right">
                <li th:if="${courses.hasPreviousPage}"><a
                        th:href="@{'/courses?pageIndex='+${courses.prePage}}"
                        aria-label="Previous"> <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a></li>

                <th:block th:each="nav : ${courses.navigatepageNums}">
                    <li th:class="${nav==courses.pageNum}?'active':''"><a
                            th:href="@{'/courses?pageIndex='+${nav}}"
                            th:text="${nav}"></a></li>
                </th:block>

                <th:block th:if="${courses.hasNextPage}">
                    <li><a
                            th:href="@{'/courses?pageIndex='+${courses.nextPage}}"
                            aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a></li>
                </th:block>

                <li><span th:text="'共'+${courses.pages}+'页'"></span></li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="teacherInfoUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel" >课程信息管理</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="courseInfo1" action="/course" method="post">
                    <input id="_method" type="hidden" name="_method" value="put">
                    <input type="hidden" name="id" id="courserId_update">
                    <div class="form-group">
                        <label for="courseName_update">课程名称</label>
                        <input type="text"  class="form-control" id="courseName_update" name="courseName" placeholder="请输入名称">
                    </div>
                   <!-- <div class="form-group">
                        <label for="teacherName">任课老师名称</label>
                        <input type="text" class="form-control" id="teacherName_update" name="teacherName" placeholder="请输入名称">
                    </div>-->
                    <div class="form-group" style="display: none">
                        <label for="teacherId">任课教师ID</label>
                        <input type="text" class="form-control" id="teacherId" th:value="${session.loginUser.id}" name="teacherId" placeholder="请输入时长,单位为分钟">
                    </div>
                    <div class="form-group" style="display: none">
                        <label for="teacherName_update">任课教师</label>
                        <input type="text" class="form-control" th:value="${session.loginUser.name}" id="teacherName_update" name="teacherName" placeholder="请输入时长,单位为分钟">
                    </div>
                    <div class="form-group">
                        <label for="courseTime">课程时长</label>
                        <input type="text" class="form-control"  id="courseTime" name="courseTime" placeholder="请输入时长,单位为分钟">
                    </div>
                    <button type="submit" class="btn btn-primary " id="submitInfo_button" >提交更改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary " id="submitInfo_button"  onclick="updateInfo()">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>
</body>
<script th:inline="javascript">
    $(function(){
//        $("table tr").find('td:eq(4)').click(function(){
//            var id = $(this).parents("tr").find('td:eq(0)').text();
//            var course_name = $(this).parents("tr").find('td:eq(1)').text();
//            var teacher_name = $(this).parents("tr").find('td:eq(2)').text();
//            var course_time = $(this).parents("tr").find('td:eq(3)').text();
//            $("#_method").val("put")
//            $("#courseName_update").val(course_name);
//            $("#teacherName_update").val(teacher_name);
//            $("#courseTime").val(course_time);
//            $("#courserId_update").val(id);
//            $("#teacherInfoUpdateForm").modal('show');
//        });
        validateCourse();

    })
    function validateCourse(){
        $("#courseInfo1").bootstrapValidator({
            message: '不合法的字符',
            excluded: [':disabled', ':hidden', ':not(:visible)'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                courseName: {
                    message: '课程名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '课程名称不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: '课程名称最少输入两个字符'
                        }
                    }
                },
                courseTime:{
                    validators: {
                        notEmpty: {
                            message: '课程时长不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9_\.]+$/,
                            message: '课程时长只能输入数字'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            var form = $(e.target);
            var _method = $("#_method").val();
            var paramArray = form.serializeArray();
            var jsonObj={};
            $(paramArray).each(function(){
                jsonObj[this.name]=this.value;
            });
            $.ajax({
                type:_method,
                url:'/course',
                data:JSON.stringify(jsonObj),
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                success:function (res) {
                  if(res.status=='success'){
                      $("#teacherInfoUpdateForm").modal('hide');
                      alert(res.message);
                      window.location.reload();
                  }else{
                      $("#teacherInfoUpdateForm").modal('hide');
                      alert(res.message);
                      window.location.reload();
                  }
                }
            })
        });
    }
    function updateCourseInfo(obj){
        var id = $(obj).parents("tr").find('td:eq(0)').text();
        var course_name = $(obj).parents("tr").find('td:eq(1)').text();
        var teacher_name = $(obj).parents("tr").find('td:eq(2)').text();
        var course_time = $(obj).parents("tr").find('td:eq(3)').text();
        $("#_method").val("put")
        $("#courseName_update").val(course_name);
        $("#teacherName_update").val(teacher_name);
        $("#courseTime").val(course_time);
        $("#courserId_update").val(id);
        $("#teacherInfoUpdateForm").modal('show');
    }
    function updateInfo() {
        //$("#courseInfo1").bootstrapValidator();
        //$('#courseInfo1').data('bootstrapValidator').validate();
//        var valid = $("#courseInfo1").data('bootstrapValidator').isValid();
//        if(valid){
//            $("#courseInfo1").submit();
//        }else{
//            return;
//        }
        $("#submitInfo_button").on('click',function () {
            var bootstrapValidator = $('#courseInfo1').data('bootstrapValidator');
            //手动触发验证
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()) {
                $("#courseInfo1").submit();
            }
        })

    }
    function deleteCourse(obj) {
        var id = $(obj).parents("tr").find('td:eq(0)').text();
        $.ajax({
            type:'delete',
            url:'/course/'+id,
            success:function (res) {
                if(res==true){
                    window.location.reload();
                }
            }
        });
    }


    function addCourse() {
        $("#_method").val("post")
        $("#courseInfo1")[0].reset();
        $("#teacherInfoUpdateForm").modal('show');
    }

</script>
</html>