<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link th:href="@{/asserts/css/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrapValidator.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/vue.resource.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/jquery.dataTables.js}"></script>
</head>
<body>
<div class="col-md-12">
    <div th:replace="~{teacher/nav :: topnav(activeUrl='courseInfo')}"></div>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
            <form class="form-inline" th:action="@{/courses}">
                <div class="form-group">
                    <label>课程名</label>
                    <input name="courseName" class="form-control"  id="courseName" type="text"
                           placeholder="请输入课程名..." />
                </div>
                <div class="form-group">
                    <label>任课教师</label>
                    <input name="teacherName" class="form-control"  id="teacherName" type="text"
                           placeholder="请输入教师名" />

                </div>
                <input type="submit" value="查询" />
            </form>
            </div>
        </div>
        <table class="table">
            <caption class="text-center">课程信息管理</caption>
            <thead>
            <tr>
                <th>id</th>
                <th>课程名</th>
                <th>任课教师</th>
                <th>课程时长</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses.list}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.teacher.name}"></td>
                <td th:text="${course.courseTime}"></td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-6">
            <ul class="pagination m-b-5 pull-right">
                <li th:if="${courses.hasPreviousPage}"><a
                        th:href="@{'/user/touser?pageIndex='+${courses.prePage}}"
                        aria-label="Previous"> <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a></li>

                <th:block th:each="nav : ${courses.navigatepageNums}">
                    <li th:class="${nav==courses.pageNum}?'active':''"><a
                            th:href="@{'/courses?pageIndex='+${nav}}"
                            th:text="${nav}"></a></li>
                </th:block>

                <th:block th:if="${courses.hasNextPage}">
                    <li><a
                            th:href="@{'/user/touser?pageIndex='+${courses.nextPage}}"
                            aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a></li>
                </th:block>

                <li><span th:text="'共'+${courses.pages}+'页'"></span></li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
</html>