<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation" th:fragment="topnav(activeUrl)" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">当前登录用户:[[${session.loginUser.name}]]</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="" th:class="${activeUrl=='manager'?'active':''}"><a href="#" th:href="@{'/teacher/teacherManager/' + ${session.loginUser.id}}">首页</a></li>
                <li class="" th:class="${activeUrl=='classInfo'?'active':''}"><a href="#"  th:href="@{/classInfo}">班级管理</a></li>
                <li class="" th:class="${activeUrl=='studentInfo'?'active':''}"><a href="#"  th:href="@{/studentPage}">学生管理</a></li>
                <!--<li class="" th:class="${activeUrl=='courseInfo'?'active':''}" ><a href="#" th:href="@{'/courses/'+${session.loginUser.id}}">课程管理</a></li>-->
                <li class="" th:class="${activeUrl=='courseInfo'?'active':''}" ><a href="#" th:href="@{/courses(loginId = ${session.loginUser.id})}">课程管理</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>