<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <link th:href="@{/asserts/css/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/bootstrapValidator.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/asserts/css/bootstrap-datetimepicker.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/moment.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/bootstrap-datetimepicker.js}" ></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/asserts/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/vue.resource.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/js/jquery.dataTables.js}"></script>
</head>
<body>
<div id="app" class="col-md-12" >
<div th:replace="~{teacher/nav::topnav(activeUrl='manager')}" ></div>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-10 col-md-offset=2"  >
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>学生姓名</label>
                    <input class="form-control" id="studentName" type="text">
                </div>
                <div class="form-group">
                    <label >选择班级</label>
                    <select class="form-control"  id="class_num">
                        <option  selected >点击此处展开选项来选择班级</option>
                        <option  v-bind:value="class1.classNum" v-for="class1 in signedClassInfo">{{class1.className}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>签到起始日期：</label>
                    <!--指定 date标记-->
                    <div class='input-group date' >
                        <input type='text' id='datetimepicker1' class="form-control" />
                        <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>签到结束日期：</label>
                    <!--指定 date标记-->
                    <div class='input-group date' >
                        <input type='text' id='datetimepicker2'   class="form-control" />
                        <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" id="search" @click="searchOne()"> 点击进行搜索</button>
        </div>
        <table class="table table-striped" id="student_signed_table">
            <caption class="text-center">学生签到信息</caption>
            <thead>
            <tr>
                <th>学生姓名</th>
                <th>班级</th>
                <th>签到时间</th>
                <th>授课老师</th>
                <th>学科</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

</body>
<script th:inline="javascript">

    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    }

    $(function () {

        $('#datetimepicker1').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language:'zh-CN'
        });
        var yestday = new Date(new Date().getTime()-1000*60*60*24);
        yestday.setHours(0);
        yestday.setMinutes(0);
        yestday.setSeconds(0);
        $('#datetimepicker1').datetimepicker('setDate', yestday);
        $('#datetimepicker2').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language:'zh-CN'
        });
        var today = new Date(new Date().getTime()+1000*60*60*24);
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        $('#datetimepicker2').datetimepicker('setDate', today);
        var table =  $("#student_signed_table").DataTable(
            {
                "paging": true,
                "iDisplayLength": 10, //默认每页数量
                //"bPaginate": true, //翻页功能
                "bLengthChange": false, //改变每页显示数据数量
                "bFilter": false, //过滤功能
                "bSort": true, //排序功能
                "bInfo": true, //页脚信息
                "bAutoWidth": true, //自动宽度
                "bRetrieve": true,
                "processing": true,
                "autoWidth": true,
                "serverSide": true,//服务器端进行分页处理的意思
                "bPaginate": true,
                //"bProcessing": true
                "jqueryui": true,
                scrollY: true,
                'ajax': function (data, callback, settings) {
                    var param = {};
                    param.limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                    param.start = data.start;//开始的记录序号
                    param.page = (data.start / data.length) + 1;//当前页码
                    param.search = data.search.value;//搜索条件
                    param.teacherId = /*[[${id}]]*/;
                    param.classNum = $("#class_num").val();
                    param.startTime = $("#datetimepicker1").val();
                    param.endTime = $("#datetimepicker2").val();
                    param.studentName = $("#studentName").val();
                    if (data.order.length > 0) {
                        param.order = data.columns[data.order[0].column].data;
                        param.dir = data.order[0].dir;
                    }
                    $.ajax({
                        "url": "/teacher/listSignedStudentInfo",
                        "type": "post",
                        "data": param,
                        "dataType": "json",
                        "success": function (result) {
                            //封装返回数据
                            var returnData = {};
                            returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                            returnData.recordsTotal = result.total;//返回数据全部记录
                            returnData.recordsFiltered = result.total;//后台不实现过滤功能，每次查询均视作全部结果
                            returnData.data = result.list;//返回的数据列表
                            callback(returnData);
                        }
                    });
                },
                columns: [
                    {
                        data: "studentName"
                    },
                    {
                        data: "classInfo.className"
                    },
                    {
                        data: function (obj) {
                            var dateTime = new Date(obj.beginTime).toJSON();
                            var date = new Date(+new Date(dateTime) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                            return date;
                        }
                    }, {
                        data: "teacher.name"
                    },
                    {
                        data: "course.courseName"
                    }
                ], "oLanguage": { //国际化配置
                "sProcessing": "正在获取数据，请稍后...",
                "sLengthMenu": "显示 _MENU_ 条",
                "sZeroRecords": "没有您要搜索的内容",
                "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty": "记录数为0",
                "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                "sInfoPostFix": "",
                "sSearch": "搜索",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "最后一页"
                }
            }
            }
        );
        $('#search').on( 'click', function () {
            table.data().draw();
        } );

    });
    var vue = new Vue({
        el:'#app',
        data:{
            teacherId: /*[[${id}]]*/,
            signedClassInfo:''
        },
        methods:{

            searchOne:function () {

            }
        },
        beforeMount:function () {

        },
        mounted:function () {
            var url = "/teacher/distinctClassInfo";
            var param={"teacherId":/*[[${id}]]*/};
            this.$http.post(url,param).then(function (res) {
                this.signedClassInfo = res.data;
            },function (res) {

            })
        }

    });
</script>
</html>